.blue{
width:80vw;
height:40vw;
background-color: #A9F5F2;
margin-left:auto;
margin-right:auto;
padding-top:3%;
}
.mobile1cover{
  width:18.7vw;
  height:31.5vw;
background-color:black;
margin-left: 22%;
border-radius: 17px;
padding-top: 0.8%;
border:solid 0.4vw #BCA9F5;
box-shadow: 0.4vw 0.4vw 1vw #0B243B;
}
.mobile1{
width:17.5vw;
height:30.8vw;
background-color:white;
margin-left: 3%;
/* padding-top:0; */
border-radius: 10px;

}
.upperblock{
height:1.5vw;
width:11vw;
border-radius: 3px 3px 16px 16px ;
background-color:black;
margin-left:auto;
margin-right:auto;
}
.tiger1{

 height:3.5vw;
width:3.5vw;
 border-radius: 40px;
text-align: center;
/* margin-left: 1vw;
margin-top: 23px; */

}
.content{
padding-left: 1vw;
padding-top: 1.7vw;
}
.foll{
margin-top:1vw;
font-size: 0.9vw;
}
.options{
font-size:0.99vw;
line-height: 1vw;
margin-top: 2vw;
}
.footer{
padding-left: 1vw;
margin-bottom: 2vw;
}
.bar{
  height:0.35vw;
  width:6.5vw;
  border-radius: 5px 5px 5px 5px ;
  background-color:black;
  margin-left:auto;
  margin-right:auto;
}
.sidebar{
float:right;
height:30.8vw;
width:4.5vw;
background-color:pink;
}
.sidebarinside{
background-color:yellow;
}
